.category-container {
  width: 100%;
  overflow-x: scroll; /* Enable horizontal scrolling */
}

.category-list {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping */
  padding: 10px;
  overflow-x: scroll;
}

.category-item {
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
  color: #36454f;
  font-weight: bold;
  border: 1.5px solid rgb(221, 32, 44);
  border-radius: 4px;
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
}
