.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #ffefef;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    width: 100%;
    max-width: 300px; /* Optional: Set a max-width for the card */
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.product-details {
    padding: 5px 10px;
}

.product-name {
    font-size: 1.2em;
    margin: 5px 0;
}

.product-brand {
    color: #666;
    margin-bottom: 5px;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.product-mrp {
    text-decoration: line-through;
    color: #ff0000;
    margin-right: 8px;
}

.product-discount {
    color: #e91e63;
    font-weight: bold;
}

.product-sizes {
    font-size: 0.9em;
    color: #888;
}
.product-discounted-price{
    color: rgb(0, 255, 128);
    font-weight: bold;
}
.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


@media (max-width: 768px) {
    .product-card {
        max-width: 100%;
        
    }
}

